*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.fundo-login{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(216, 216, 216);
    justify-content: center;
    align-items: center;
    
}
.quadrado-login{
    display: flex;
    width: 50%;
    height: 50%;
    background-color: rgb(185, 185, 185);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    border-style: solid;
    border-color: black;
    border: 5px;
}
.quadrado-login h2{
    display: flex;
    font-size: 90px;
}
.caixa-email{
    display: flex;
    width: 50%;
    height: 10%;
    border-radius: 25px;
    border: 5px;
    border-style: solid;
    border-color: black;
    background-color: rgb(173, 173, 173);
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}
.caixa-senha{
    display: flex;
    width: 50%;
    height: 10%;
    border-radius: 25px;
    border: 5px;
    border-style: solid;
    border-color: black;
    background-color: rgb(173, 173, 173);
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}
.logar{
    display: flex;
    width: 50%;
    height: 10%;
    margin: 10px;
    background-color: rgb(117, 117, 117);
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.logar:hover{
    background-color: rgb(167, 167, 167);
}
.link-cadastro{
    text-align: center;
    width: 50%;
    height: 10%;
    color: rgb(58, 58, 58);
    background-color: rgb(145, 145, 145);
    border-radius: 10px;
}
.link-cadastro:hover{
    color: rgb(22, 22, 22);
}